body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

.header {
  justify-self: center;
  margin-top: 7px;
}

.navbar {
  width: 85%;
  padding: 1px 5px;
  font-size: 12px;
  background-color: #ff6600;
  color: black;
}

.fw {
  font-weight: 900;
}

.anchor {
  text-decoration: none;
  color: black;
}

.ml-auto {
  margin-left: auto;
}
